* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

.header {
  background-color: #5ca4a9;
  box-shadow: #9bc1bc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.logo {
  width: 10vh;
  height: 10vh;
}

.navigation {
  margin-left: 1vw;
  font-size: 28px;
  float: left;
}

.navigation ul {
  align-items: center;
  list-style-type: none;
  display: flex;
}

.navigation ul li {
  padding: 1rem;
  color: #e6ebe0;
  margin: 0 2rem;
}

.navigation ul li:hover {
  background-color: #9bc1bc;
  transform: scale(1.1);
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #5ca4a9;
  box-shadow: 0px 0px 5px 0px #9bc1bc;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  color: #e6ebe0;
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #e6ebe0;
  color: #5ca4a9;
  font-size: 3rem;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 1rem;
  padding: 2rem;
  opacity: 0.8;
}

.dropdown {
  position: relative;
  display: inline-block;
}

#dropdownContent {
  color: #5ca4a9;
  border-radius: 0.5rem;
  display: none;
  position: absolute;
  background-color: #e6ebe000;
  padding: 2rem 0.25rem 1rem 0.25rem;
  z-index: 1;
}

button {
  width: 5rem;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4),
    0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4),
    0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4),
    0 1px 0 rgba(255, 255, 255, 0.2) inset;
  position: relative;
  cursor: pointer;

  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  border-radius: 50%;
  height: 5rem;
  outline: none;
}

.item {
  z-index: -1;
}

@media (max-width: 1025px) {
  .logo {
    height: 7vh;
    width: 7vh;
  }

  .container {
    margin-top: 5rem;
  }
}

@media (max-width: 770px) {
  .logo {
    height: 7vh;
    width: 7vh;
  }

  .container {
    margin-top: 5rem;
  }
}

@media (max-width: 500px) {
  .logo {
    height: 5vh;
    width: 5vh;
  }

  .dropdown {
    display: none;
  }

  .header ul li {
    font-size: large;
    padding: 1rem;
    margin: 1rem 1rem 0 0;
  }

  p {
    font-size: small;
  }

  footer h3 {
    font-size: large;
  }

  .container {
    margin-top: 5rem;
  }
}